In [ ]:
import pandas as pd
import numpy as np
#dataframe
df = pd.read_csv('hotel_cancellation.csv')
df
#data for all hotel cancellations and factors involved
#0-no , 1-yes , booking status = 1- cancel , 0 - not cancel

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,2,0,1,4,0,0,0,118,2017,12,28,1,0,0,0,110.80,2,0
1,2,1,0,2,0,0,0,17,2018,4,14,1,0,0,0,145.00,0,1
2,1,0,1,5,0,0,0,349,2018,10,4,0,0,0,0,96.67,0,1
3,1,0,2,4,0,0,0,69,2018,6,12,0,0,0,0,120.00,0,1
4,2,0,0,4,1,0,0,11,2018,1,20,1,0,0,0,69.50,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18132,1,0,0,2,0,0,0,103,2018,4,19,0,0,0,0,115.00,0,1
18133,2,0,0,3,0,0,0,129,2018,8,10,1,0,0,0,88.01,1,0
18134,2,0,0,1,0,0,0,90,2018,7,13,1,0,0,0,105.30,0,1
18135,2,0,0,3,0,0,0,18,2018,11,10,1,1,0,1,123.33,1,0
18136,1,0,1,1,0,0,0,159,2018,4,9,0,0,0,0,65.00,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18137 entries, 0 to 18136
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          18137 non-null  int64
 1   no_of_children                        18137 non-null  int64
 2   no_of_weekend_nights                  18137 non-null  int64
 3   no_of_week_nights                     18137 non-null  int64
 4   type_of_meal_plan                     18137 non-null  int64
 5   required_car_parking_space            18137 non-null  int64
 6   room_type_reserved                    18137 non-null  int64
 7   lead_time                             18137 non-null  int64
 8   arrival_year                          18137 non-null  int64
 9   arrival_month                         18137 non-null  int64
 10  arrival_date                          18137 non-null  int64
 11  market_segment_type                   18137 non-null  int64
 12  repeated_guest                        18137 non-null  int64
 13  no_of_previous_cancellations          18137 non-null  int64
 14  no_of_previous_bookings_not_canceled  18137 non-null  int64
 15  avg_price_per_room                    18137 non-null  float64
 16  no_of_special_requests                18137 non-null  int64
 17  booking_status                        18137 non-null  int64
dtypes: float64(1), int64(17)
memory usage: 2.5 MB

In [ ]:
#EDA 1
# FIND % OF ROOMS CANCELLED AND BOOKED ON SAME DAY 
# We will use Lead time column which is Number of days between the date of booking and the arrival date
a = np.sum(df['lead_time']==0)
print("no. of bookings on same day as arrival :",a)
b = np.sum((df['lead_time']==0)&(df['booking_status']==1))/643 * 100
print("% of booking cancelled on same day as arival :",b)

no. of bookings on same day as arrival : 643
% of booking cancelled on same day as arival : 5.132192846034215

In [ ]:
#EDA 2
#FIND % OF CANCELLED HOTELS BOOKED BY SINGLE PERSON and COUPLES
#WE WILL USE no_of_adults column
print(np.sum(df['no_of_adults']==1))
print(np.sum(df['no_of_adults']==2))

3809
13104

In [ ]:
b = np.sum((df['no_of_adults']==1)&(df['booking_status']==1))
print("% of one adult room cancelled :", b/3809 * 100)
c = np.sum((df['no_of_adults']==2)&(df['booking_status']==1))
print("% of two adult room cancelled :", c/13104 * 100)

% of one adult room cancelled : 23.418220005250724
% of two adult room cancelled : 34.99694749694749

In [ ]:
#EDA 3
# FIND number OF CANCELLED ROOMS BY room PRICE
very_cheap = np.sum((df['avg_price_per_room']<=50)&(df['booking_status']==1)) 
moderate = np.sum((df['avg_price_per_room']>50)&(df['avg_price_per_room']<=125)&(df['booking_status']==1)) 
expensive = np.sum((df['avg_price_per_room']>125)&(df['avg_price_per_room']<=175)&(df['booking_status']==1)) 
very_expensive = np.sum((df['avg_price_per_room']>175)&(df['booking_status']==1))
print("very cheap rooms cancelled :" , very_cheap)
print("moderate rooms cancelled :" , moderate)
print("expensive rooms cancelled :" , expensive)
print("very expensive rooms cancelled :",  very_expensive)

very cheap rooms cancelled : 27
moderate rooms cancelled : 4359
expensive rooms cancelled : 1308
very expensive rooms cancelled : 248

In [ ]:
#EDA 4
#FIND NUMBER OF ROOMS BOOKED FOR EACH MONTH 
df.groupby('arrival_month').size()

arrival_month
1      501
2      853
3     1176
4     1386
5     1305
6     1607
7     1422
8     1868
9     2301
10    2678
11    1505
12    1535
dtype: int64

In [ ]:
#EDA 5
#FIND NUMBER % OF ROOMS CANCELLED BY REPEATING AND NON REPEATING GUEST WHO HAD MADE SPECIAL REQUESTS
df.groupby('repeated_guest').size()

repeated_guest
0    17663
1      475
dtype: int64

In [ ]:
var1 = np.sum((df['repeated_guest'] == 1) &(df['no_of_special_requests']>1)&(df['booking_status']==1))
print("% of repeating guest who cancelled and requested special service:",var1/475 * 100)
var2 = np.sum((df['repeated_guest'] == 0) &(df['no_of_special_requests']==0)&(df['booking_status']==1))
print("% of non repeating guest who cancelled and requested special service:",var2/17663 * 100)

% of repeating guest who cancelled and requested special service: 0.0
% of non repeating guest who cancelled and requested special service: 24.07292079488196

In [ ]:
#EDA 6
# CAR PARKING REQUIRED BY GUESTS 
df.groupby('required_car_parking_space').size()

required_car_parking_space
0    17563
1      574
dtype: int64

In [ ]:
#EDA 7 
# MEAL PLANS BOOKED IN COMBINATION OF BREAKFAST , LUNCH , DINNER
df.groupby('type_of_meal_plan').size()

type_of_meal_plan
0    13979
1     2543
2     1612
3        3
dtype: int64

In [ ]:
#EDA 8
# FIND % OF ROOMS BOOKED FOR CHILDREN CANCELLED
e = np.sum(df['no_of_children']>0)
print("no. of families with children :",e)
d = np.sum((df['no_of_children']>0)&(df['booking_status']==1))/1370 * 100
print("% of cancelled rooms for children :",d)

no. of families with children : 1370
% of cancelled rooms for children : 37.81021897810219

In [ ]:
#EDA 9
# FAMILIES WITH KIDS WHO PRE BOOKED MEALS 
d = np.sum((df['no_of_children']>0)&(df['type_of_meal_plan']>0))
print("% of families with kids which pre ordered meals",c/1370 * 100)

% of families with kids which pre ordered meals 0.20845858958045094

In [ ]:
#EDA 10
# CANCELLATION STATUS FOR HOTELS BOOKED FOR WEEKEND NIGHTS
# 0 - NOT CANCELLED , 1 - CANCELLED 
df.groupby(['no_of_weekend_nights','booking_status']).size()

no_of_weekend_nights  booking_status
0                     0                 5896
                      1                 2548
1                     0                 3256
                      1                 1729
2                     0                 2977
                      1                 1558
3                     0                   44
                      1                   40
4                     0                   17
                      1                   39
5                     0                    3
                      1                   16
6                     0                    2
                      1                   11
7                     1                    1
dtype: int64

In [ ]:
#EDA 11
# % OF SPECIAL REQUESTS FOR WEEKEND NIGHTS
f = np.sum(df['no_of_weekend_nights']>0)
print('bookings on weekend nights : ',f) 
g = np.sum((df['no_of_weekend_nights']>0) & (df['no_of_special_requests']>0))
print('% of bookings for weekend nights with special requests:',g/9693 * 100)

bookings on weekend nights :  9693
% of bookings for weekend nights with special requests: 47.87991333952337

In [ ]:
#EDA 12
#CHEAPEST ROOM PURCHASED AT
h = np.min(df['avg_price_per_room'])
print("cheapest room price : ",h)

cheapest room price :  0.0

In [ ]:
#EDA 13 
# MOST EXPENSIVE ROOM PURCHASED AT 
h = np.max(df['avg_price_per_room'])
print("most expensive room price : ",h)

most expensive room price :  540.0

In [ ]:
#EDA 14 
# NO. OF GUEST WHO CANCELLED MORE THAN ONCE 
i = np.sum((df['booking_status']==1)&(df['no_of_previous_cancellations']>1))
print("number of guests who cancelled more than once : " , i)

number of guests who cancelled more than once :  3

In [ ]:
#EDA 15 
# NO. OF GUESTS WHO BOOKED AFTER CANCELLING BEFORE 
j = np.sum((df['booking_status']==0)&(df['no_of_previous_cancellations']>1))
print("number of guests who booked after cancelling before : " , j)

number of guests who booked after cancelling before :  67